<div class="wrapper">
    <div class="inner-wrapper">
        <div class="landscape"></div>
    </div>
    <div class="nrw">
        <span class="new">
            <span class="letter">7</span>
            <span class="letter">/</span>
            <span class="letter">2</span>
            <span class="letter">4</span>
        </span>
        <span class="retro">
            <span class="letter">Х</span>
            <span class="letter">О</span>
            <span class="letter">Л</span>
            <span class="letter">О</span>
            <span class="letter">Д</span>
            <span class="letter">Н</span>
            <span class="letter">Ы</span>
            <span class="letter">Е</span>
        </span>
        <span class="wave">
            <span class="letter">Н</span>
            <span class="letter">А</span>
            <span class="letter">П</span>
            <span class="letter">И</span>
            <span class="letter">Т</span>
            <span class="letter">К</span>
            <span class="letter">И</span>
        </span>
    </div>
    <div class="triangle"></div>
</div>