@model WebApp.VendingMachine.Drink

<h4>Новый напиток</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            @using (Html.BeginForm("CreateDrink", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Марка</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label">Количество</label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> В продаже
                </label>
            </div>
            <input type="file" name="Image" id="Image" accept=".jpg,.jpeg,.png,.gif" />

            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
            }
    </div>
</div>

<div>
    <a asp-action="Index">Отмена</a>
</div>

